#For Local Dev. The code will append /api/plants, /api/species, etc. to this URL.
VITE_API_URL=http://localhost:3003

#Production will use the .env.production file automatically when we call "npm run build".