#Sign up for a free API key at https://trefle.io/
TREFLE_API_TOKEN=your_trefle_api_token

#Express Server port (default: 3003)
PORT=3003

#Local (Or cloud) MySQL database instance
#Example: "mysql://root:root@localhost:3306/ithilien"
DATABASE_URL=

#BetterAuth
AUTH_SECRET=my-super-secret-key-change-this-later #Change this later
BETTER_AUTH_URL=http://localhost:3003/ #Same port as PORT